
.App{
background-image:url(https://pm1.narvii.com/7540/34730d38b989a939fd8dada3a8545c72fe28c7d2r5-1080-1597_00.jpg) ;
background-repeat: no-repeat;
background-size: 34%;
width: 1250px;
height: 1600px;
background-color: #1F456E;

background-position: center top;
}
.button{
  position: relative;
  left:730px;
  top:13px 
  
}
.backarrow{
  position: relative;
  left:480px;
  top:10px;
  font-size: 27px;
  color: azure;
}
.from{
  position: relative;
  left:480px;
  top:30px;
  color: azure
}
.dia{
  position: relative;
  left:475px;
  top:15px;
  color: azure
}
.denver{
  position: relative;
  left:477px;
  top:5px;
  color: azure
}
.to{
  position: relative;
  left:770px;
  bottom:130px;
  color: azure
}
.ord{
  position: relative;
  left:718px;
  bottom:150px;
  color: azure
}
.chicago{
  position: relative;
  left:713px;
  bottom:160px;
  color: azure
}
.flight{
  position: relative;
  left:630px;
  bottom:70px;
  font-size: 25px;
  color: azure
}
.date{
  position: relative;
  left:600px;
  bottom:130px;
  color: azure
}
.button1{
  position: relative;
  left:520px;
  bottom:130px;
  color: azure
}
.list-component{
  position: absolute;
  left:433px;
  bottom:80px;
  color: azure
  
}
.td,h3,tr,p{
  color:azure
}
  
.sun{
  position: relative;
  left:450px;
  top:182px;
  font-size: 25px;
  color: azure
}
.temp{
  position: relative;
  left:480px;
  top:157px;
  color: azure
}
.msg{
  position: relative;
  left: 600px;
  top:115px;
  color: azure
}




